<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_citygrid %><br>
    <%= f.text_field :id_citygrid %>
  </div>
  <div class="field">
    <%= f.label :id_yelp %><br>
    <%= f.text_field :id_yelp %>
  </div>
  <div class="field">
    <%= f.label :id_google %><br>
    <%= f.text_field :id_google %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
