<p id="notice"><%= notice %></p>

<p>
  <strong>Id citygrid:</strong>
  <%= @place.id_citygrid %>
</p>

<p>
  <strong>Id yelp:</strong>
  <%= @place.id_yelp %>
</p>

<p>
  <strong>Id google:</strong>
  <%= @place.id_google %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
